In [ ]:
#модель прогнозирования выживших
#Анализ отдельно по полу: мужчины, женщины, дети
#Анализ по классу каюты, по возрасту, по семейному положению(SibSp, Parch )

In [2]:
import pandas as pd
df = pd.read_csv('data/test.csv')
df['result'] = 1
df['family'] = df['SibSp'] + df['Parch']
df["ticket1"] = df.Ticket.str.split(r' \s*').str[0]
df["ticket2"] = df.Ticket.str.split(r' \s*').str[1]
df["ticket2"] = df.ticket2.fillna(df.ticket1)
df["ticket2"] = pd.to_numeric(df["ticket2"], errors='coerce')
##мужчины >18лет: всего= 382 выжило = 69  не выжило= 313 процент выживших = 18%

##1 класс выжило = 36 не выжило = 60  модель = 51 (ошибка 9)
df.loc[(df['Sex'] == 'male') & (df['Age'] >40)  & (df['Pclass'] == 1),'result']=0
df.loc[(df['Age']>18) & (df['Sex'] == 'male') & (df['Pclass'] == 1) & (df['family'] >3),'result']=0

##2 класс выжило = 6 не выжило = 78  модель 84 (ошибка 6)
df.loc[(df['Sex'] == 'male') &  (df['Pclass'] == 2),'result']=0

##3 класс выжило = 27 не выжило = 175  модель 191 (ошибка 16)
df.loc[(df['Sex'] == 'male') &  (df['Pclass'] == 3),'result']=0
df.loc[(df['Sex'] == 'male') & (df['Age'] > 18) & (df['Pclass'] == 3) & (df['ticket2'] ==1601.0 ) ,'result']=1
df.loc[(df['Sex'] == 'male') & (df['Age'] > 18) & (df['Pclass'] == 3) & (df['ticket2']==2620.0 ) ,'result']=1
df.loc[(df['Sex'] == 'male') & (df['Age'] > 18) & (df['Pclass'] == 3) & (df['ticket2']>=345774.0) & (df['ticket2']<=345779.0 ) ,
     'result']=1
df.loc[(df['Sex'] == 'male') & (df['Age'] > 18) & (df['Pclass'] == 3) & (df['ticket2']>=350034.0) & (df['ticket2']<=350043.0 ) ,'result']=1


##женщины >18лет всего= 193 выжило = 151  не выжило= 42 процент выживших = 78%
##1 класс выжило 23 не выжило 2 - пока не трогаем. По модели все выжили. (Ошибка 2)
##2класс выжило =54 не выжило 6 Модель не выжило 4 (Ошибка 2)
df.loc[ (df['Sex'] == 'female') & ( (df['Age'] ==26) | (df['Age'] ==38) | (df['Age'] ==44) | (df['Age'] ==57)) &
       (df['Pclass'] == 2) ,'result'] = 0
##3класс выжило =25 не выжило 34 Модель не выжило 23 (Ошибка 11 )
df.loc[(df['Sex'] == 'female') & (df['Age'] >38) & (df['Age'] <60) & (df['Pclass'] == 3),'result']=0
df.loc[(df['Age']>18) & (df['Sex'] == 'female') & (df['Pclass'] == 3)  & (df['family'] >=3),'result']=0
df.loc[(df['Age']>18) & (df['Sex'] == 'female') & (df['Pclass'] == 3)  & (df['Embarked'] =='Q'),'result']=0
df.loc[(df['Age']==20) & (df['Sex'] == 'female') & (df['Pclass'] == 3) ,'result']=0

  
##дети всего 71 выжило 24 не выжило 47    модель не выжило = 58
##df[(df['Age']<=18)  & (df['Pclass'] ==1) & (df['Sex'] == 'male') ]
##мальчики
df.loc[(df['Age']<=18)  & (df['Sex'] == 'male'),'result']=0
#1 класс
df.loc[(df['Age'] < 18)  & (df['Pclass'] ==1) & (df['Sex'] == 'male'),'result']=1
##2 класс
df.loc[(df['Age'] < 16)  & (df['Pclass'] ==2) & (df['Sex'] == 'male'),'result']=1
##3 класс нет выживших

##Девочки выжило = 46 не выжило =22 модель не выжило  = 20
#1 класс
df.loc[(df['Age'] < 3)  & (df['Pclass'] ==1) & (df['Sex'] == 'female'),'result']=0
#2 класс все выжили
#3 класс
df.loc[(df['Age']<=18)  & (df['Pclass'] ==3) & (df['Sex'] == 'female')  & (df['family'] >3)  ,'result']=0
df.loc[(df['Age'] == 18)  & (df['Pclass'] ==3) & (df['Sex'] == 'female')    ,'result']=0
df_new = df[['PassengerId','result']]
df_new.to_csv('data/new_test.csv')
 ##','result']            
df_new

     PassengerId  result
0            892       0
1            893       0
2            894       0
3            895       0
4            896       1
..           ...     ...
413         1305       0
414         1306       1
415         1307       0
416         1308       0
417         1309       0

[418 rows x 2 columns]