Easy
Вычислить вероятность выживания, если пассажиру:

In [5]:
import pandas as pd
tit_df = pd.read_csv('data/train.csv')
tit_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

от 0 до 25

In [26]:
tit_0_25_surv = tit_df[(tit_df['Age'] >= 0) & (tit_df['Age'] <= 25) & (tit_df['Survived'] == 1)]
tit_0_25_all = tit_df[(tit_df['Age'] >= 0) & (tit_df['Age'] <= 25) ]
#благопрятных исходов
print(len(tit_0_25_surv))
#всего исходов
print(len(tit_0_25_all))
#вероятность
p_0_25_surv = round(len(tit_0_25_surv)/len(tit_0_25_all), 2)

124
301

от 25 до 50 лет

In [25]:
tit_26_50_surv = tit_df[(tit_df['Age'] > 25) & (tit_df['Age'] <= 50) & (tit_df['Survived'] == 1)]
tit_26_50_all = tit_df[(tit_df['Age'] > 25) & (tit_df['Age'] <= 50) ]
#благопрятных исходов
print(len(tit_26_50_surv))
#всего исходов
print(len(tit_26_50_all))
#вероятность
p_25_50_surv = round(len(tit_26_50_surv)/len(tit_26_50_all), 2)

144
349

от 50 лет и старше

In [24]:
tit_51_surv = tit_df[(tit_df['Age'] > 50) & (tit_df['Survived'] == 1)]
tit_51_all = tit_df[(tit_df['Age'] > 50)]
#благопрятных исходов
print(len(tit_51_surv))
#всего исходов
print(len(tit_51_all))
#вероятность
p_50_surv = round(len(tit_51_surv)/len(tit_51_all), 2)

22
64

In [28]:
print('Вероятность выживания если ты ')
print('от 0 до 25 :' , p_0_25_surv)
print('от 25 до 25:' , p_25_50_surv)
print('больше 50  :' , p_50_surv)

Вероятность выживания если ты
от 0 до 25 : 0.41
от 25 до 25: 0.41
больше 50  : 0.34